.tui__nav--box {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  align-items: baseline;
  justify-content: space-evenly;
  justify-items: center;
  background-color: var(--nav-icon-bg);
}

/* .tui__nav--logo {
  grid-row: 1;
  grid-column: 1 / -1;
}
.tui__nav--mid{
  grid-row: 1;
  grid-column: 1 / -1; 
} */

.tui__nav--list {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  justify-items: center;
}

@media screen and (min-width: 1024px) {
  .tui__nav--box {
    display: grid;
    width: 100%;
    grid-template-columns: max-content 1fr max-content;
    align-items: baseline;
    justify-content: space-evenly;
    justify-items: center;
    background-color: var(--nav-icon-bg);
  }
}
