@import "../atoms/utils.css";

/*=============================================
=            float-temp-display            =
=============================================*/

.tuid__btn--float-display {
  background-color: var(--btn-float-bg);
  border-radius: var(--btn-border-radius-xl);
  aspect-ratio: 1;
  padding: var(--button-padding-xs);
}
.tuid__badge--display {
  height: var(--height-xxl);
  width: var(--g-width-xxl);
  min-height: var(--g-height-xxl);
  min-width: var(--g-width-xxl);
  padding: var(--padding-md);
  /* background-color: var(--theme-dark-light); */
  box-shadow: var(--shadows-md);
}
.tuid__badge--display-big {
  min-height: 10rem;
  min-width: 10rem;
  background-color: var(--body-bg-color);
  padding: var(--padding-md);
  box-shadow: var(--shadows-md);
}
.tuid__image--dispaly-container {
  height: var(--height-xxxl);
  width: var(--g-width-xxxl);
}
.tuid__grid--dispaly {
  height: var(--g-height-xxxl);
  width: var(--g-width-xl);
  background-color: var(--col-green-light);
}

.tuid__card--display {
  max-width: 70%;
  margin: auto;
}
/*=====  End of float-temp-display  ======*/
