.tui__slider--pri-col {
  --col-slider-shadow: var(--theme-secondary-col);
  --col-slider: var(--theme-primary-col);
  --col-slider-thumb: var(--body-text-light-color);
}
.tui__slider--red-col {
  --col-slider-shadow: var(--col-red);
  --col-slider: var(--col-red-light);
  --col-slider-thumb: var(--body-text-light-color);
}
.tui__slider--yellow-col {
  --col-slider-shadow: var(--col-yellow);
  --col-slider: var(--col-yellow-light);
  --col-slider-thumb: var(--body-text-light-color);
}
.tui__slider--blue-col {
  --col-slider-shadow: var(--col-blue);
  --col-slider: var(--col-blue-light);
  --col-slider-thumb: var(--body-text-light-color);
}
.tui__slider--green-col {
  --col-slider-shadow: var(--col-green);
  --col-slider: var(--col-green-light);
  --col-slider-thumb: var(--body-text-light-color);
}
.tui__slider--xxxl {
  --height-slider: var(--g-height-xxxl);
}
.tui__slider--xxl {
  --height-slider: var(--g-height-xxl);
}
.tui__slider--xl {
  --height-slider: var(--g-height-xl);
}
.tui__slider--lg {
  --height-slider: var(--g-height-lg);
}
.tui__slider--md {
  --height-slider: var(--g-height-md);
}
.tui__slider--sm {
  --height-slider: var(--g-height-sm);
}
.tui__slider--xs {
  --height-slider: var(--g-height-xs);
}
.tui__slider--xxs {
  --height-slider: var(--g-height-xxs);
}
.tui__slider--xxxs {
  --height-slider: var(--g-height-xxxs);
}
.tui__slider {
  --slider-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.2),
    -3px 0 0 0px var(--col-slider-shadow), -6px 0 0 0px var(--col-slider-shadow),
    -9px 0 0 0px var(--col-slider-shadow),
    -12px 0 0 0px var(--col-slider-shadow),
    -15px 0 0 0px var(--col-slider-shadow),
    -18px 0 0 0px var(--col-slider-shadow),
    -21px 0 0 0px var(--col-slider-shadow),
    -24px 0 0 0px var(--col-slider-shadow),
    -27px 0 0 0px var(--col-slider-shadow),
    -30px 0 0 0px var(--col-slider-shadow),
    -33px 0 0 0px var(--col-slider-shadow),
    -36px 0 0 0px var(--col-slider-shadow),
    -39px 0 0 0px var(--col-slider-shadow),
    -42px 0 0 0px var(--col-slider-shadow),
    -45px 0 0 0px var(--col-slider-shadow),
    -48px 0 0 0px var(--col-slider-shadow),
    -51px 0 0 0px var(--col-slider-shadow),
    -54px 0 0 0px var(--col-slider-shadow),
    -57px 0 0 0px var(--col-slider-shadow),
    -60px 0 0 0px var(--col-slider-shadow),
    -63px 0 0 0px var(--col-slider-shadow),
    -66px 0 0 0px var(--col-slider-shadow),
    -69px 0 0 0px var(--col-slider-shadow),
    -72px 0 0 0px var(--col-slider-shadow),
    -75px 0 0 0px var(--col-slider-shadow),
    -78px 0 0 0px var(--col-slider-shadow),
    -81px 0 0 0px var(--col-slider-shadow),
    -84px 0 0 0px var(--col-slider-shadow),
    -87px 0 0 0px var(--col-slider-shadow),
    -90px 0 0 0px var(--col-slider-shadow),
    -93px 0 0 0px var(--col-slider-shadow),
    -96px 0 0 0px var(--col-slider-shadow),
    -99px 0 0 0px var(--col-slider-shadow),
    -102px 0 0 0px var(--col-slider-shadow),
    -105px 0 0 0px var(--col-slider-shadow),
    -108px 0 0 0px var(--col-slider-shadow),
    -111px 0 0 0px var(--col-slider-shadow),
    -114px 0 0 0px var(--col-slider-shadow),
    -117px 0 0 0px var(--col-slider-shadow),
    -120px 0 0 0px var(--col-slider-shadow),
    -123px 0 0 0px var(--col-slider-shadow),
    -126px 0 0 0px var(--col-slider-shadow),
    -129px 0 0 0px var(--col-slider-shadow),
    -132px 0 0 0px var(--col-slider-shadow),
    -135px 0 0 0px var(--col-slider-shadow),
    -138px 0 0 0px var(--col-slider-shadow),
    -141px 0 0 0px var(--col-slider-shadow),
    -144px 0 0 0px var(--col-slider-shadow),
    -147px 0 0 0px var(--col-slider-shadow),
    -150px 0 0 0px var(--col-slider-shadow),
    -153px 0 0 0px var(--col-slider-shadow),
    -156px 0 0 0px var(--col-slider-shadow),
    -159px 0 0 0px var(--col-slider-shadow),
    -162px 0 0 0px var(--col-slider-shadow),
    -165px 0 0 0px var(--col-slider-shadow),
    -168px 0 0 0px var(--col-slider-shadow),
    -171px 0 0 0px var(--col-slider-shadow),
    -174px 0 0 0px var(--col-slider-shadow),
    -177px 0 0 0px var(--col-slider-shadow),
    -180px 0 0 0px var(--col-slider-shadow),
    -183px 0 0 0px var(--col-slider-shadow),
    -186px 0 0 0px var(--col-slider-shadow),
    -189px 0 0 0px var(--col-slider-shadow),
    -192px 0 0 0px var(--col-slider-shadow),
    -195px 0 0 0px var(--col-slider-shadow),
    -198px 0 0 0px var(--col-slider-shadow),
    -201px 0 0 0px var(--col-slider-shadow),
    -204px 0 0 0px var(--col-slider-shadow),
    -207px 0 0 0px var(--col-slider-shadow),
    -210px 0 0 0px var(--col-slider-shadow),
    -213px 0 0 0px var(--col-slider-shadow),
    -216px 0 0 0px var(--col-slider-shadow),
    -219px 0 0 0px var(--col-slider-shadow),
    -222px 0 0 0px var(--col-slider-shadow),
    -225px 0 0 0px var(--col-slider-shadow),
    -228px 0 0 0px var(--col-slider-shadow),
    -231px 0 0 0px var(--col-slider-shadow),
    -234px 0 0 0px var(--col-slider-shadow),
    -237px 0 0 0px var(--col-slider-shadow),
    -240px 0 0 0px var(--col-slider-shadow),
    -243px 0 0 0px var(--col-slider-shadow),
    -246px 0 0 0px var(--col-slider-shadow),
    -249px 0 0 0px var(--col-slider-shadow),
    -252px 0 0 0px var(--col-slider-shadow),
    -255px 0 0 0px var(--col-slider-shadow),
    -258px 0 0 0px var(--col-slider-shadow),
    -261px 0 0 0px var(--col-slider-shadow),
    -264px 0 0 0px var(--col-slider-shadow),
    -267px 0 0 0px var(--col-slider-shadow),
    -270px 0 0 0px var(--col-slider-shadow),
    -273px 0 0 0px var(--col-slider-shadow),
    -276px 0 0 0px var(--col-slider-shadow),
    -279px 0 0 0px var(--col-slider-shadow),
    -282px 0 0 0px var(--col-slider-shadow),
    -285px 0 0 0px var(--col-slider-shadow),
    -288px 0 0 0px var(--col-slider-shadow),
    -291px 0 0 0px var(--col-slider-shadow),
    -294px 0 0 0px var(--col-slider-shadow),
    -297px 0 0 0px var(--col-slider-shadow),
    -300px 0 0 0px var(--col-slider-shadow),
    -303px 0 0 0px var(--col-slider-shadow),
    -306px 0 0 0px var(--col-slider-shadow),
    -309px 0 0 0px var(--col-slider-shadow),
    -312px 0 0 0px var(--col-slider-shadow),
    -315px 0 0 0px var(--col-slider-shadow),
    -318px 0 0 0px var(--col-slider-shadow),
    -321px 0 0 0px var(--col-slider-shadow),
    -324px 0 0 0px var(--col-slider-shadow),
    -327px 0 0 0px var(--col-slider-shadow),
    -330px 0 0 0px var(--col-slider-shadow),
    -333px 0 0 0px var(--col-slider-shadow),
    -336px 0 0 0px var(--col-slider-shadow),
    -339px 0 0 0px var(--col-slider-shadow),
    -342px 0 0 0px var(--col-slider-shadow),
    -345px 0 0 0px var(--col-slider-shadow),
    -348px 0 0 0px var(--col-slider-shadow),
    -351px 0 0 0px var(--col-slider-shadow),
    -354px 0 0 0px var(--col-slider-shadow),
    -357px 0 0 0px var(--col-slider-shadow),
    -360px 0 0 0px var(--col-slider-shadow),
    -363px 0 0 0px var(--col-slider-shadow),
    -366px 0 0 0px var(--col-slider-shadow),
    -369px 0 0 0px var(--col-slider-shadow),
    -372px 0 0 0px var(--col-slider-shadow),
    -375px 0 0 0px var(--col-slider-shadow),
    -378px 0 0 0px var(--col-slider-shadow),
    -381px 0 0 0px var(--col-slider-shadow),
    -384px 0 0 0px var(--col-slider-shadow),
    -387px 0 0 0px var(--col-slider-shadow),
    -390px 0 0 0px var(--col-slider-shadow),
    -393px 0 0 0px var(--col-slider-shadow),
    -396px 0 0 0px var(--col-slider-shadow),
    -399px 0 0 0px var(--col-slider-shadow),
    -402px 0 0 0px var(--col-slider-shadow),
    -405px 0 0 0px var(--col-slider-shadow),
    -408px 0 0 0px var(--col-slider-shadow),
    -411px 0 0 0px var(--col-slider-shadow),
    -414px 0 0 0px var(--col-slider-shadow),
    -417px 0 0 0px var(--col-slider-shadow),
    -420px 0 0 0px var(--col-slider-shadow),
    -423px 0 0 0px var(--col-slider-shadow),
    -426px 0 0 0px var(--col-slider-shadow),
    -429px 0 0 0px var(--col-slider-shadow),
    -432px 0 0 0px var(--col-slider-shadow),
    -435px 0 0 0px var(--col-slider-shadow),
    -438px 0 0 0px var(--col-slider-shadow),
    -441px 0 0 0px var(--col-slider-shadow),
    -444px 0 0 0px var(--col-slider-shadow),
    -447px 0 0 0px var(--col-slider-shadow),
    -450px 0 0 0px var(--col-slider-shadow),
    -453px 0 0 0px var(--col-slider-shadow),
    -456px 0 0 0px var(--col-slider-shadow),
    -459px 0 0 0px var(--col-slider-shadow),
    -462px 0 0 0px var(--col-slider-shadow),
    -465px 0 0 0px var(--col-slider-shadow),
    -468px 0 0 0px var(--col-slider-shadow),
    -471px 0 0 0px var(--col-slider-shadow),
    -474px 0 0 0px var(--col-slider-shadow),
    -477px 0 0 0px var(--col-slider-shadow),
    -480px 0 0 0px var(--col-slider-shadow),
    -483px 0 0 0px var(--col-slider-shadow),
    -486px 0 0 0px var(--col-slider-shadow),
    -489px 0 0 0px var(--col-slider-shadow),
    -492px 0 0 0px var(--col-slider-shadow),
    -495px 0 0 0px var(--col-slider-shadow),
    -498px 0 0 0px var(--col-slider-shadow),
    -501px 0 0 0px var(--col-slider-shadow),
    -504px 0 0 0px var(--col-slider-shadow),
    -507px 0 0 0px var(--col-slider-shadow),
    -510px 0 0 0px var(--col-slider-shadow),
    -513px 0 0 0px var(--col-slider-shadow),
    -516px 0 0 0px var(--col-slider-shadow),
    -519px 0 0 0px var(--col-slider-shadow),
    -522px 0 0 0px var(--col-slider-shadow),
    -525px 0 0 0px var(--col-slider-shadow),
    -528px 0 0 0px var(--col-slider-shadow),
    -531px 0 0 0px var(--col-slider-shadow),
    -534px 0 0 0px var(--col-slider-shadow),
    -537px 0 0 0px var(--col-slider-shadow),
    -540px 0 0 0px var(--col-slider-shadow),
    -543px 0 0 0px var(--col-slider-shadow),
    -546px 0 0 0px var(--col-slider-shadow),
    -549px 0 0 0px var(--col-slider-shadow),
    -552px 0 0 0px var(--col-slider-shadow),
    -555px 0 0 0px var(--col-slider-shadow),
    -558px 0 0 0px var(--col-slider-shadow),
    -561px 0 0 0px var(--col-slider-shadow),
    -564px 0 0 0px var(--col-slider-shadow),
    -567px 0 0 0px var(--col-slider-shadow),
    -570px 0 0 0px var(--col-slider-shadow),
    -573px 0 0 0px var(--col-slider-shadow),
    -576px 0 0 0px var(--col-slider-shadow),
    -579px 0 0 0px var(--col-slider-shadow),
    -582px 0 0 0px var(--col-slider-shadow),
    -585px 0 0 0px var(--col-slider-shadow),
    -588px 0 0 0px var(--col-slider-shadow),
    -591px 0 0 0px var(--col-slider-shadow),
    -594px 0 0 0px var(--col-slider-shadow),
    -597px 0 0 0px var(--col-slider-shadow),
    -600px 0 0 0px var(--col-slider-shadow),
    -603px 0 0 0px var(--col-slider-shadow),
    -606px 0 0 0px var(--col-slider-shadow),
    -609px 0 0 0px var(--col-slider-shadow),
    -612px 0 0 0px var(--col-slider-shadow),
    -615px 0 0 0px var(--col-slider-shadow),
    -618px 0 0 0px var(--col-slider-shadow),
    -621px 0 0 0px var(--col-slider-shadow),
    -624px 0 0 0px var(--col-slider-shadow),
    -627px 0 0 0px var(--col-slider-shadow),
    -630px 0 0 0px var(--col-slider-shadow),
    -633px 0 0 0px var(--col-slider-shadow),
    -636px 0 0 0px var(--col-slider-shadow),
    -639px 0 0 0px var(--col-slider-shadow),
    -642px 0 0 0px var(--col-slider-shadow),
    -645px 0 0 0px var(--col-slider-shadow),
    -648px 0 0 0px var(--col-slider-shadow),
    -651px 0 0 0px var(--col-slider-shadow),
    -654px 0 0 0px var(--col-slider-shadow),
    -657px 0 0 0px var(--col-slider-shadow),
    -660px 0 0 0px var(--col-slider-shadow),
    -663px 0 0 0px var(--col-slider-shadow),
    -666px 0 0 0px var(--col-slider-shadow),
    -669px 0 0 0px var(--col-slider-shadow),
    -672px 0 0 0px var(--col-slider-shadow),
    -675px 0 0 0px var(--col-slider-shadow),
    -678px 0 0 0px var(--col-slider-shadow),
    -681px 0 0 0px var(--col-slider-shadow),
    -684px 0 0 0px var(--col-slider-shadow),
    -687px 0 0 0px var(--col-slider-shadow),
    -690px 0 0 0px var(--col-slider-shadow),
    -693px 0 0 0px var(--col-slider-shadow),
    -696px 0 0 0px var(--col-slider-shadow),
    -699px 0 0 0px var(--col-slider-shadow),
    -702px 0 0 0px var(--col-slider-shadow),
    -705px 0 0 0px var(--col-slider-shadow),
    -708px 0 0 0px var(--col-slider-shadow),
    -711px 0 0 0px var(--col-slider-shadow),
    -714px 0 0 0px var(--col-slider-shadow),
    -717px 0 0 0px var(--col-slider-shadow),
    -720px 0 0 0px var(--col-slider-shadow),
    -723px 0 0 0px var(--col-slider-shadow),
    -726px 0 0 0px var(--col-slider-shadow),
    -729px 0 0 0px var(--col-slider-shadow),
    -732px 0 0 0px var(--col-slider-shadow),
    -735px 0 0 0px var(--col-slider-shadow),
    -738px 0 0 0px var(--col-slider-shadow),
    -741px 0 0 0px var(--col-slider-shadow),
    -744px 0 0 0px var(--col-slider-shadow),
    -747px 0 0 0px var(--col-slider-shadow),
    -750px 0 0 0px var(--col-slider-shadow),
    -753px 0 0 0px var(--col-slider-shadow),
    -756px 0 0 0px var(--col-slider-shadow),
    -759px 0 0 0px var(--col-slider-shadow),
    -762px 0 0 0px var(--col-slider-shadow),
    -765px 0 0 0px var(--col-slider-shadow),
    -768px 0 0 0px var(--col-slider-shadow),
    -771px 0 0 0px var(--col-slider-shadow),
    -774px 0 0 0px var(--col-slider-shadow),
    -777px 0 0 0px var(--col-slider-shadow),
    -780px 0 0 0px var(--col-slider-shadow),
    -783px 0 0 0px var(--col-slider-shadow),
    -786px 0 0 0px var(--col-slider-shadow),
    -789px 0 0 0px var(--col-slider-shadow),
    -792px 0 0 0px var(--col-slider-shadow),
    -795px 0 0 0px var(--col-slider-shadow),
    -798px 0 0 0px var(--col-slider-shadow),
    -801px 0 0 0px var(--col-slider-shadow),
    -804px 0 0 0px var(--col-slider-shadow),
    -807px 0 0 0px var(--col-slider-shadow),
    -810px 0 0 0px var(--col-slider-shadow),
    -813px 0 0 0px var(--col-slider-shadow),
    -816px 0 0 0px var(--col-slider-shadow),
    -819px 0 0 0px var(--col-slider-shadow),
    -822px 0 0 0px var(--col-slider-shadow),
    -825px 0 0 0px var(--col-slider-shadow),
    -828px 0 0 0px var(--col-slider-shadow),
    -831px 0 0 0px var(--col-slider-shadow),
    -834px 0 0 0px var(--col-slider-shadow),
    -837px 0 0 0px var(--col-slider-shadow),
    -840px 0 0 0px var(--col-slider-shadow),
    -843px 0 0 0px var(--col-slider-shadow),
    -846px 0 0 0px var(--col-slider-shadow),
    -849px 0 0 0px var(--col-slider-shadow),
    -852px 0 0 0px var(--col-slider-shadow),
    -855px 0 0 0px var(--col-slider-shadow),
    -858px 0 0 0px var(--col-slider-shadow),
    -861px 0 0 0px var(--col-slider-shadow),
    -864px 0 0 0px var(--col-slider-shadow),
    -867px 0 0 0px var(--col-slider-shadow),
    -870px 0 0 0px var(--col-slider-shadow),
    -873px 0 0 0px var(--col-slider-shadow),
    -876px 0 0 0px var(--col-slider-shadow),
    -879px 0 0 0px var(--col-slider-shadow),
    -882px 0 0 0px var(--col-slider-shadow),
    -885px 0 0 0px var(--col-slider-shadow),
    -888px 0 0 0px var(--col-slider-shadow),
    -891px 0 0 0px var(--col-slider-shadow),
    -894px 0 0 0px var(--col-slider-shadow),
    -897px 0 0 0px var(--col-slider-shadow),
    -900px 0 0 0px var(--col-slider-shadow),
    -903px 0 0 0px var(--col-slider-shadow),
    -906px 0 0 0px var(--col-slider-shadow),
    -909px 0 0 0px var(--col-slider-shadow),
    -912px 0 0 0px var(--col-slider-shadow),
    -915px 0 0 0px var(--col-slider-shadow),
    -918px 0 0 0px var(--col-slider-shadow),
    -921px 0 0 0px var(--col-slider-shadow),
    -924px 0 0 0px var(--col-slider-shadow),
    -927px 0 0 0px var(--col-slider-shadow),
    -930px 0 0 0px var(--col-slider-shadow),
    -933px 0 0 0px var(--col-slider-shadow),
    -936px 0 0 0px var(--col-slider-shadow),
    -939px 0 0 0px var(--col-slider-shadow),
    -942px 0 0 0px var(--col-slider-shadow),
    -945px 0 0 0px var(--col-slider-shadow),
    -948px 0 0 0px var(--col-slider-shadow),
    -951px 0 0 0px var(--col-slider-shadow),
    -954px 0 0 0px var(--col-slider-shadow),
    -957px 0 0 0px var(--col-slider-shadow),
    -960px 0 0 0px var(--col-slider-shadow),
    -963px 0 0 0px var(--col-slider-shadow),
    -966px 0 0 0px var(--col-slider-shadow),
    -969px 0 0 0px var(--col-slider-shadow),
    -972px 0 0 0px var(--col-slider-shadow),
    -975px 0 0 0px var(--col-slider-shadow),
    -978px 0 0 0px var(--col-slider-shadow),
    -981px 0 0 0px var(--col-slider-shadow),
    -984px 0 0 0px var(--col-slider-shadow),
    -987px 0 0 0px var(--col-slider-shadow),
    -990px 0 0 0px var(--col-slider-shadow),
    -993px 0 0 0px var(--col-slider-shadow),
    -996px 0 0 0px var(--col-slider-shadow),
    -999px 0 0 0px var(--col-slider-shadow),
    -1002px 0 0 0px var(--col-slider-shadow),
    -1005px 0 0 0px var(--col-slider-shadow),
    -1008px 0 0 0px var(--col-slider-shadow),
    -1011px 0 0 0px var(--col-slider-shadow),
    -1014px 0 0 0px var(--col-slider-shadow),
    -1017px 0 0 0px var(--col-slider-shadow),
    -1020px 0 0 0px var(--col-slider-shadow),
    -1023px 0 0 0px var(--col-slider-shadow),
    -1026px 0 0 0px var(--col-slider-shadow),
    -1029px 0 0 0px var(--col-slider-shadow),
    -1032px 0 0 0px var(--col-slider-shadow),
    -1035px 0 0 0px var(--col-slider-shadow),
    -1038px 0 0 0px var(--col-slider-shadow),
    -1041px 0 0 0px var(--col-slider-shadow),
    -1044px 0 0 0px var(--col-slider-shadow),
    -1047px 0 0 0px var(--col-slider-shadow),
    -1050px 0 0 0px var(--col-slider-shadow),
    -1053px 0 0 0px var(--col-slider-shadow),
    -1056px 0 0 0px var(--col-slider-shadow),
    -1059px 0 0 0px var(--col-slider-shadow),
    -1062px 0 0 0px var(--col-slider-shadow),
    -1065px 0 0 0px var(--col-slider-shadow),
    -1068px 0 0 0px var(--col-slider-shadow),
    -1071px 0 0 0px var(--col-slider-shadow),
    -1074px 0 0 0px var(--col-slider-shadow),
    -1077px 0 0 0px var(--col-slider-shadow),
    -1080px 0 0 0px var(--col-slider-shadow),
    -1083px 0 0 0px var(--col-slider-shadow),
    -1086px 0 0 0px var(--col-slider-shadow),
    -1089px 0 0 0px var(--col-slider-shadow),
    -1092px 0 0 0px var(--col-slider-shadow),
    -1095px 0 0 0px var(--col-slider-shadow),
    -1098px 0 0 0px var(--col-slider-shadow),
    -1101px 0 0 0px var(--col-slider-shadow),
    -1104px 0 0 0px var(--col-slider-shadow),
    -1107px 0 0 0px var(--col-slider-shadow),
    -1110px 0 0 0px var(--col-slider-shadow),
    -1113px 0 0 0px var(--col-slider-shadow),
    -1116px 0 0 0px var(--col-slider-shadow),
    -1119px 0 0 0px var(--col-slider-shadow),
    -1122px 0 0 0px var(--col-slider-shadow),
    -1125px 0 0 0px var(--col-slider-shadow),
    -1128px 0 0 0px var(--col-slider-shadow),
    -1131px 0 0 0px var(--col-slider-shadow),
    -1134px 0 0 0px var(--col-slider-shadow),
    -1137px 0 0 0px var(--col-slider-shadow),
    -1140px 0 0 0px var(--col-slider-shadow),
    -1143px 0 0 0px var(--col-slider-shadow),
    -1146px 0 0 0px var(--col-slider-shadow),
    -1149px 0 0 0px var(--col-slider-shadow),
    -1152px 0 0 0px var(--col-slider-shadow),
    -1155px 0 0 0px var(--col-slider-shadow),
    -1158px 0 0 0px var(--col-slider-shadow),
    -1161px 0 0 0px var(--col-slider-shadow),
    -1164px 0 0 0px var(--col-slider-shadow),
    -1167px 0 0 0px var(--col-slider-shadow),
    -1170px 0 0 0px var(--col-slider-shadow),
    -1173px 0 0 0px var(--col-slider-shadow),
    -1176px 0 0 0px var(--col-slider-shadow),
    -1179px 0 0 0px var(--col-slider-shadow),
    -1182px 0 0 0px var(--col-slider-shadow),
    -1185px 0 0 0px var(--col-slider-shadow),
    -1188px 0 0 0px var(--col-slider-shadow),
    -1191px 0 0 0px var(--col-slider-shadow),
    -1194px 0 0 0px var(--col-slider-shadow),
    -1197px 0 0 0px var(--col-slider-shadow),
    -1200px 0 0 0px var(--col-slider-shadow),
    -1203px 0 0 0px var(--col-slider-shadow),
    -1206px 0 0 0px var(--col-slider-shadow),
    -1209px 0 0 0px var(--col-slider-shadow),
    -1212px 0 0 0px var(--col-slider-shadow),
    -1215px 0 0 0px var(--col-slider-shadow),
    -1218px 0 0 0px var(--col-slider-shadow),
    -1221px 0 0 0px var(--col-slider-shadow),
    -1224px 0 0 0px var(--col-slider-shadow),
    -1227px 0 0 0px var(--col-slider-shadow),
    -1230px 0 0 0px var(--col-slider-shadow),
    -1233px 0 0 0px var(--col-slider-shadow),
    -1236px 0 0 0px var(--col-slider-shadow),
    -1239px 0 0 0px var(--col-slider-shadow),
    -1242px 0 0 0px var(--col-slider-shadow),
    -1245px 0 0 0px var(--col-slider-shadow),
    -1248px 0 0 0px var(--col-slider-shadow),
    -1251px 0 0 0px var(--col-slider-shadow),
    -1254px 0 0 0px var(--col-slider-shadow),
    -1257px 0 0 0px var(--col-slider-shadow),
    -1260px 0 0 0px var(--col-slider-shadow),
    -1263px 0 0 0px var(--col-slider-shadow),
    -1266px 0 0 0px var(--col-slider-shadow),
    -1269px 0 0 0px var(--col-slider-shadow),
    -1272px 0 0 0px var(--col-slider-shadow),
    -1275px 0 0 0px var(--col-slider-shadow),
    -1278px 0 0 0px var(--col-slider-shadow),
    -1281px 0 0 0px var(--col-slider-shadow),
    -1284px 0 0 0px var(--col-slider-shadow),
    -1287px 0 0 0px var(--col-slider-shadow),
    -1290px 0 0 0px var(--col-slider-shadow),
    -1293px 0 0 0px var(--col-slider-shadow),
    -1296px 0 0 0px var(--col-slider-shadow),
    -1299px 0 0 0px var(--col-slider-shadow),
    -1302px 0 0 0px var(--col-slider-shadow),
    -1305px 0 0 0px var(--col-slider-shadow),
    -1308px 0 0 0px var(--col-slider-shadow),
    -1311px 0 0 0px var(--col-slider-shadow),
    -1314px 0 0 0px var(--col-slider-shadow),
    -1317px 0 0 0px var(--col-slider-shadow),
    -1320px 0 0 0px var(--col-slider-shadow),
    -1323px 0 0 0px var(--col-slider-shadow),
    -1326px 0 0 0px var(--col-slider-shadow),
    -1329px 0 0 0px var(--col-slider-shadow),
    -1332px 0 0 0px var(--col-slider-shadow),
    -1335px 0 0 0px var(--col-slider-shadow),
    -1338px 0 0 0px var(--col-slider-shadow),
    -1341px 0 0 0px var(--col-slider-shadow),
    -1344px 0 0 0px var(--col-slider-shadow),
    -1347px 0 0 0px var(--col-slider-shadow),
    -1350px 0 0 0px var(--col-slider-shadow),
    -1353px 0 0 0px var(--col-slider-shadow),
    -1356px 0 0 0px var(--col-slider-shadow),
    -1359px 0 0 0px var(--col-slider-shadow),
    -1362px 0 0 0px var(--col-slider-shadow),
    -1365px 0 0 0px var(--col-slider-shadow),
    -1368px 0 0 0px var(--col-slider-shadow),
    -1371px 0 0 0px var(--col-slider-shadow),
    -1374px 0 0 0px var(--col-slider-shadow),
    -1377px 0 0 0px var(--col-slider-shadow),
    -1380px 0 0 0px var(--col-slider-shadow),
    -1383px 0 0 0px var(--col-slider-shadow),
    -1386px 0 0 0px var(--col-slider-shadow),
    -1389px 0 0 0px var(--col-slider-shadow),
    -1392px 0 0 0px var(--col-slider-shadow),
    -1395px 0 0 0px var(--col-slider-shadow),
    -1398px 0 0 0px var(--col-slider-shadow),
    -1401px 0 0 0px var(--col-slider-shadow),
    -1404px 0 0 0px var(--col-slider-shadow),
    -1407px 0 0 0px var(--col-slider-shadow),
    -1410px 0 0 0px var(--col-slider-shadow),
    -1413px 0 0 0px var(--col-slider-shadow),
    -1416px 0 0 0px var(--col-slider-shadow),
    -1419px 0 0 0px var(--col-slider-shadow),
    -1422px 0 0 0px var(--col-slider-shadow),
    -1425px 0 0 0px var(--col-slider-shadow),
    -1428px 0 0 0px var(--col-slider-shadow),
    -1431px 0 0 0px var(--col-slider-shadow),
    -1434px 0 0 0px var(--col-slider-shadow),
    -1437px 0 0 0px var(--col-slider-shadow),
    -1440px 0 0 0px var(--col-slider-shadow),
    -1443px 0 0 0px var(--col-slider-shadow),
    -1446px 0 0 0px var(--col-slider-shadow),
    -1449px 0 0 0px var(--col-slider-shadow),
    -1452px 0 0 0px var(--col-slider-shadow),
    -1455px 0 0 0px var(--col-slider-shadow),
    -1458px 0 0 0px var(--col-slider-shadow),
    -1461px 0 0 0px var(--col-slider-shadow),
    -1464px 0 0 0px var(--col-slider-shadow),
    -1467px 0 0 0px var(--col-slider-shadow),
    -1470px 0 0 0px var(--col-slider-shadow),
    -1473px 0 0 0px var(--col-slider-shadow),
    -1476px 0 0 0px var(--col-slider-shadow),
    -1479px 0 0 0px var(--col-slider-shadow),
    -1482px 0 0 0px var(--col-slider-shadow),
    -1485px 0 0 0px var(--col-slider-shadow),
    -1488px 0 0 0px var(--col-slider-shadow),
    -1491px 0 0 0px var(--col-slider-shadow),
    -1494px 0 0 0px var(--col-slider-shadow),
    -1497px 0 0 0px var(--col-slider-shadow),
    -1500px 0 0 0px var(--col-slider-shadow),
    -1503px 0 0 0px var(--col-slider-shadow),
    -1506px 0 0 0px var(--col-slider-shadow),
    -1509px 0 0 0px var(--col-slider-shadow),
    -1512px 0 0 0px var(--col-slider-shadow),
    -1515px 0 0 0px var(--col-slider-shadow),
    -1518px 0 0 0px var(--col-slider-shadow),
    -1521px 0 0 0px var(--col-slider-shadow),
    -1524px 0 0 0px var(--col-slider-shadow),
    -1527px 0 0 0px var(--col-slider-shadow),
    -1530px 0 0 0px var(--col-slider-shadow),
    -1533px 0 0 0px var(--col-slider-shadow),
    -1536px 0 0 0px var(--col-slider-shadow),
    -1539px 0 0 0px var(--col-slider-shadow),
    -1542px 0 0 0px var(--col-slider-shadow),
    -1545px 0 0 0px var(--col-slider-shadow),
    -1548px 0 0 0px var(--col-slider-shadow),
    -1551px 0 0 0px var(--col-slider-shadow),
    -1554px 0 0 0px var(--col-slider-shadow),
    -1557px 0 0 0px var(--col-slider-shadow),
    -1560px 0 0 0px var(--col-slider-shadow),
    -1563px 0 0 0px var(--col-slider-shadow),
    -1566px 0 0 0px var(--col-slider-shadow),
    -1569px 0 0 0px var(--col-slider-shadow),
    -1572px 0 0 0px var(--col-slider-shadow),
    -1575px 0 0 0px var(--col-slider-shadow),
    -1578px 0 0 0px var(--col-slider-shadow),
    -1581px 0 0 0px var(--col-slider-shadow),
    -1584px 0 0 0px var(--col-slider-shadow),
    -1587px 0 0 0px var(--col-slider-shadow),
    -1590px 0 0 0px var(--col-slider-shadow),
    -1593px 0 0 0px var(--col-slider-shadow),
    -1596px 0 0 0px var(--col-slider-shadow),
    -1599px 0 0 0px var(--col-slider-shadow),
    -1602px 0 0 0px var(--col-slider-shadow),
    -1605px 0 0 0px var(--col-slider-shadow),
    -1608px 0 0 0px var(--col-slider-shadow),
    -1611px 0 0 0px var(--col-slider-shadow),
    -1614px 0 0 0px var(--col-slider-shadow),
    -1617px 0 0 0px var(--col-slider-shadow),
    -1620px 0 0 0px var(--col-slider-shadow),
    -1623px 0 0 0px var(--col-slider-shadow),
    -1626px 0 0 0px var(--col-slider-shadow),
    -1629px 0 0 0px var(--col-slider-shadow),
    -1632px 0 0 0px var(--col-slider-shadow),
    -1635px 0 0 0px var(--col-slider-shadow),
    -1638px 0 0 0px var(--col-slider-shadow),
    -1641px 0 0 0px var(--col-slider-shadow),
    -1644px 0 0 0px var(--col-slider-shadow),
    -1647px 0 0 0px var(--col-slider-shadow),
    -1650px 0 0 0px var(--col-slider-shadow),
    -1653px 0 0 0px var(--col-slider-shadow),
    -1656px 0 0 0px var(--col-slider-shadow),
    -1659px 0 0 0px var(--col-slider-shadow),
    -1662px 0 0 0px var(--col-slider-shadow),
    -1665px 0 0 0px var(--col-slider-shadow),
    -1668px 0 0 0px var(--col-slider-shadow),
    -1671px 0 0 0px var(--col-slider-shadow),
    -1674px 0 0 0px var(--col-slider-shadow),
    -1677px 0 0 0px var(--col-slider-shadow),
    -1680px 0 0 0px var(--col-slider-shadow),
    -1683px 0 0 0px var(--col-slider-shadow),
    -1686px 0 0 0px var(--col-slider-shadow),
    -1689px 0 0 0px var(--col-slider-shadow),
    -1692px 0 0 0px var(--col-slider-shadow),
    -1695px 0 0 0px var(--col-slider-shadow),
    -1698px 0 0 0px var(--col-slider-shadow),
    -1701px 0 0 0px var(--col-slider-shadow),
    -1704px 0 0 0px var(--col-slider-shadow),
    -1707px 0 0 0px var(--col-slider-shadow),
    -1710px 0 0 0px var(--col-slider-shadow),
    -1713px 0 0 0px var(--col-slider-shadow),
    -1716px 0 0 0px var(--col-slider-shadow),
    -1719px 0 0 0px var(--col-slider-shadow),
    -1722px 0 0 0px var(--col-slider-shadow),
    -1725px 0 0 0px var(--col-slider-shadow),
    -1728px 0 0 0px var(--col-slider-shadow),
    -1731px 0 0 0px var(--col-slider-shadow),
    -1734px 0 0 0px var(--col-slider-shadow),
    -1737px 0 0 0px var(--col-slider-shadow),
    -1740px 0 0 0px var(--col-slider-shadow),
    -1743px 0 0 0px var(--col-slider-shadow),
    -1746px 0 0 0px var(--col-slider-shadow),
    -1749px 0 0 0px var(--col-slider-shadow),
    -1752px 0 0 0px var(--col-slider-shadow),
    -1755px 0 0 0px var(--col-slider-shadow),
    -1758px 0 0 0px var(--col-slider-shadow),
    -1761px 0 0 0px var(--col-slider-shadow),
    -1764px 0 0 0px var(--col-slider-shadow),
    -1767px 0 0 0px var(--col-slider-shadow),
    -1770px 0 0 0px var(--col-slider-shadow),
    -1773px 0 0 0px var(--col-slider-shadow),
    -1776px 0 0 0px var(--col-slider-shadow),
    -1779px 0 0 0px var(--col-slider-shadow),
    -1782px 0 0 0px var(--col-slider-shadow),
    -1785px 0 0 0px var(--col-slider-shadow),
    -1788px 0 0 0px var(--col-slider-shadow),
    -1791px 0 0 0px var(--col-slider-shadow),
    -1794px 0 0 0px var(--col-slider-shadow),
    -1797px 0 0 0px var(--col-slider-shadow),
    -1800px 0 0 0px var(--col-slider-shadow),
    -1803px 0 0 0px var(--col-slider-shadow),
    -1806px 0 0 0px var(--col-slider-shadow),
    -1809px 0 0 0px var(--col-slider-shadow),
    -1812px 0 0 0px var(--col-slider-shadow),
    -1815px 0 0 0px var(--col-slider-shadow),
    -1818px 0 0 0px var(--col-slider-shadow),
    -1821px 0 0 0px var(--col-slider-shadow),
    -1824px 0 0 0px var(--col-slider-shadow),
    -1827px 0 0 0px var(--col-slider-shadow),
    -1830px 0 0 0px var(--col-slider-shadow),
    -1833px 0 0 0px var(--col-slider-shadow),
    -1836px 0 0 0px var(--col-slider-shadow),
    -1839px 0 0 0px var(--col-slider-shadow),
    -1842px 0 0 0px var(--col-slider-shadow),
    -1845px 0 0 0px var(--col-slider-shadow),
    -1848px 0 0 0px var(--col-slider-shadow),
    -1851px 0 0 0px var(--col-slider-shadow),
    -1854px 0 0 0px var(--col-slider-shadow),
    -1857px 0 0 0px var(--col-slider-shadow),
    -1860px 0 0 0px var(--col-slider-shadow),
    -1863px 0 0 0px var(--col-slider-shadow),
    -1866px 0 0 0px var(--col-slider-shadow),
    -1869px 0 0 0px var(--col-slider-shadow),
    -1872px 0 0 0px var(--col-slider-shadow),
    -1875px 0 0 0px var(--col-slider-shadow),
    -1878px 0 0 0px var(--col-slider-shadow),
    -1881px 0 0 0px var(--col-slider-shadow),
    -1884px 0 0 0px var(--col-slider-shadow),
    -1887px 0 0 0px var(--col-slider-shadow),
    -1890px 0 0 0px var(--col-slider-shadow),
    -1893px 0 0 0px var(--col-slider-shadow),
    -1896px 0 0 0px var(--col-slider-shadow),
    -1899px 0 0 0px var(--col-slider-shadow),
    -1902px 0 0 0px var(--col-slider-shadow),
    -1905px 0 0 0px var(--col-slider-shadow),
    -1908px 0 0 0px var(--col-slider-shadow),
    -1911px 0 0 0px var(--col-slider-shadow),
    -1914px 0 0 0px var(--col-slider-shadow),
    -1917px 0 0 0px var(--col-slider-shadow),
    -1920px 0 0 0px var(--col-slider-shadow),
    -1923px 0 0 0px var(--col-slider-shadow),
    -1926px 0 0 0px var(--col-slider-shadow),
    -1929px 0 0 0px var(--col-slider-shadow),
    -1932px 0 0 0px var(--col-slider-shadow),
    -1935px 0 0 0px var(--col-slider-shadow),
    -1938px 0 0 0px var(--col-slider-shadow),
    -1941px 0 0 0px var(--col-slider-shadow),
    -1944px 0 0 0px var(--col-slider-shadow),
    -1947px 0 0 0px var(--col-slider-shadow),
    -1950px 0 0 0px var(--col-slider-shadow),
    -1953px 0 0 0px var(--col-slider-shadow),
    -1956px 0 0 0px var(--col-slider-shadow),
    -1959px 0 0 0px var(--col-slider-shadow),
    -1962px 0 0 0px var(--col-slider-shadow),
    -1965px 0 0 0px var(--col-slider-shadow),
    -1968px 0 0 0px var(--col-slider-shadow),
    -1971px 0 0 0px var(--col-slider-shadow),
    -1974px 0 0 0px var(--col-slider-shadow),
    -1977px 0 0 0px var(--col-slider-shadow),
    -1980px 0 0 0px var(--col-slider-shadow),
    -1983px 0 0 0px var(--col-slider-shadow),
    -1986px 0 0 0px var(--col-slider-shadow),
    -1989px 0 0 0px var(--col-slider-shadow),
    -1992px 0 0 0px var(--col-slider-shadow),
    -1995px 0 0 0px var(--col-slider-shadow),
    -1998px 0 0 0px var(--col-slider-shadow),
    -2001px 0 0 0px var(--col-slider-shadow),
    -2004px 0 0 0px var(--col-slider-shadow),
    -2007px 0 0 0px var(--col-slider-shadow),
    -2010px 0 0 0px var(--col-slider-shadow),
    -2013px 0 0 0px var(--col-slider-shadow),
    -2016px 0 0 0px var(--col-slider-shadow),
    -2019px 0 0 0px var(--col-slider-shadow),
    -2022px 0 0 0px var(--col-slider-shadow),
    -2025px 0 0 0px var(--col-slider-shadow),
    -2028px 0 0 0px var(--col-slider-shadow),
    -2031px 0 0 0px var(--col-slider-shadow),
    -2034px 0 0 0px var(--col-slider-shadow),
    -2037px 0 0 0px var(--col-slider-shadow),
    -2040px 0 0 0px var(--col-slider-shadow),
    -2043px 0 0 0px var(--col-slider-shadow),
    -2046px 0 0 0px var(--col-slider-shadow),
    -2049px 0 0 0px var(--col-slider-shadow),
    -2052px 0 0 0px var(--col-slider-shadow),
    -2055px 0 0 0px var(--col-slider-shadow),
    -2058px 0 0 0px var(--col-slider-shadow),
    -2061px 0 0 0px var(--col-slider-shadow),
    -2064px 0 0 0px var(--col-slider-shadow),
    -2067px 0 0 0px var(--col-slider-shadow),
    -2070px 0 0 0px var(--col-slider-shadow),
    -2073px 0 0 0px var(--col-slider-shadow),
    -2076px 0 0 0px var(--col-slider-shadow),
    -2079px 0 0 0px var(--col-slider-shadow),
    -2082px 0 0 0px var(--col-slider-shadow),
    -2085px 0 0 0px var(--col-slider-shadow),
    -2088px 0 0 0px var(--col-slider-shadow),
    -2091px 0 0 0px var(--col-slider-shadow),
    -2094px 0 0 0px var(--col-slider-shadow),
    -2097px 0 0 0px var(--col-slider-shadow),
    -2100px 0 0 0px var(--col-slider-shadow),
    -2103px 0 0 0px var(--col-slider-shadow),
    -2106px 0 0 0px var(--col-slider-shadow),
    -2109px 0 0 0px var(--col-slider-shadow),
    -2112px 0 0 0px var(--col-slider-shadow),
    -2115px 0 0 0px var(--col-slider-shadow),
    -2118px 0 0 0px var(--col-slider-shadow),
    -2121px 0 0 0px var(--col-slider-shadow),
    -2124px 0 0 0px var(--col-slider-shadow),
    -2127px 0 0 0px var(--col-slider-shadow),
    -2130px 0 0 0px var(--col-slider-shadow),
    -2133px 0 0 0px var(--col-slider-shadow),
    -2136px 0 0 0px var(--col-slider-shadow),
    -2139px 0 0 0px var(--col-slider-shadow),
    -2142px 0 0 0px var(--col-slider-shadow),
    -2145px 0 0 0px var(--col-slider-shadow),
    -2148px 0 0 0px var(--col-slider-shadow),
    -2151px 0 0 0px var(--col-slider-shadow),
    -2154px 0 0 0px var(--col-slider-shadow),
    -2157px 0 0 0px var(--col-slider-shadow),
    -2160px 0 0 0px var(--col-slider-shadow),
    -2163px 0 0 0px var(--col-slider-shadow),
    -2166px 0 0 0px var(--col-slider-shadow),
    -2169px 0 0 0px var(--col-slider-shadow),
    -2172px 0 0 0px var(--col-slider-shadow),
    -2175px 0 0 0px var(--col-slider-shadow),
    -2178px 0 0 0px var(--col-slider-shadow),
    -2181px 0 0 0px var(--col-slider-shadow),
    -2184px 0 0 0px var(--col-slider-shadow),
    -2187px 0 0 0px var(--col-slider-shadow),
    -2190px 0 0 0px var(--col-slider-shadow),
    -2193px 0 0 0px var(--col-slider-shadow),
    -2196px 0 0 0px var(--col-slider-shadow),
    -2199px 0 0 0px var(--col-slider-shadow),
    -2202px 0 0 0px var(--col-slider-shadow),
    -2205px 0 0 0px var(--col-slider-shadow),
    -2208px 0 0 0px var(--col-slider-shadow),
    -2211px 0 0 0px var(--col-slider-shadow),
    -2214px 0 0 0px var(--col-slider-shadow),
    -2217px 0 0 0px var(--col-slider-shadow),
    -2220px 0 0 0px var(--col-slider-shadow),
    -2223px 0 0 0px var(--col-slider-shadow),
    -2226px 0 0 0px var(--col-slider-shadow),
    -2229px 0 0 0px var(--col-slider-shadow),
    -2232px 0 0 0px var(--col-slider-shadow),
    -2235px 0 0 0px var(--col-slider-shadow),
    -2238px 0 0 0px var(--col-slider-shadow),
    -2241px 0 0 0px var(--col-slider-shadow),
    -2244px 0 0 0px var(--col-slider-shadow),
    -2247px 0 0 0px var(--col-slider-shadow),
    -2250px 0 0 0px var(--col-slider-shadow),
    -2253px 0 0 0px var(--col-slider-shadow),
    -2256px 0 0 0px var(--col-slider-shadow),
    -2259px 0 0 0px var(--col-slider-shadow),
    -2262px 0 0 0px var(--col-slider-shadow),
    -2265px 0 0 0px var(--col-slider-shadow),
    -2268px 0 0 0px var(--col-slider-shadow),
    -2271px 0 0 0px var(--col-slider-shadow),
    -2274px 0 0 0px var(--col-slider-shadow),
    -2277px 0 0 0px var(--col-slider-shadow),
    -2280px 0 0 0px var(--col-slider-shadow),
    -2283px 0 0 0px var(--col-slider-shadow),
    -2286px 0 0 0px var(--col-slider-shadow),
    -2289px 0 0 0px var(--col-slider-shadow),
    -2292px 0 0 0px var(--col-slider-shadow),
    -2295px 0 0 0px var(--col-slider-shadow),
    -2298px 0 0 0px var(--col-slider-shadow),
    -2301px 0 0 0px var(--col-slider-shadow),
    -2304px 0 0 0px var(--col-slider-shadow),
    -2307px 0 0 0px var(--col-slider-shadow),
    -2310px 0 0 0px var(--col-slider-shadow),
    -2313px 0 0 0px var(--col-slider-shadow),
    -2316px 0 0 0px var(--col-slider-shadow),
    -2319px 0 0 0px var(--col-slider-shadow),
    -2322px 0 0 0px var(--col-slider-shadow),
    -2325px 0 0 0px var(--col-slider-shadow),
    -2328px 0 0 0px var(--col-slider-shadow),
    -2331px 0 0 0px var(--col-slider-shadow),
    -2334px 0 0 0px var(--col-slider-shadow),
    -2337px 0 0 0px var(--col-slider-shadow),
    -2340px 0 0 0px var(--col-slider-shadow),
    -2343px 0 0 0px var(--col-slider-shadow),
    -2346px 0 0 0px var(--col-slider-shadow),
    -2349px 0 0 0px var(--col-slider-shadow),
    -2352px 0 0 0px var(--col-slider-shadow),
    -2355px 0 0 0px var(--col-slider-shadow),
    -2358px 0 0 0px var(--col-slider-shadow),
    -2361px 0 0 0px var(--col-slider-shadow),
    -2364px 0 0 0px var(--col-slider-shadow),
    -2367px 0 0 0px var(--col-slider-shadow),
    -2370px 0 0 0px var(--col-slider-shadow),
    -2373px 0 0 0px var(--col-slider-shadow),
    -2376px 0 0 0px var(--col-slider-shadow),
    -2379px 0 0 0px var(--col-slider-shadow),
    -2382px 0 0 0px var(--col-slider-shadow),
    -2385px 0 0 0px var(--col-slider-shadow),
    -2388px 0 0 0px var(--col-slider-shadow),
    -2391px 0 0 0px var(--col-slider-shadow),
    -2394px 0 0 0px var(--col-slider-shadow),
    -2397px 0 0 0px var(--col-slider-shadow),
    -2400px 0 0 0px var(--col-slider-shadow);
}
.tui__slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  padding: var(--button-padding-xs);
  border: none;
  width: 100%; /* Full-width */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.3s;
  overflow: hidden;
}
.tui__slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/*=============================================
=            thumb            =
=============================================*/
.tui__slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: var(--g-height-xxxs); /* Set a specific slider handle width */
  height: var(--height-slider); /* Slider handle height */
  background: var(--col-slider-thumb); /* Green background */
  cursor: pointer; /* Cursor on hover */
  box-shadow: var(--slider-shadow);
  z-index: var(--z-index-1);
}
.tui__slider::-moz-range-thumb {
  width: var(--g-height-xxxs); /*Set a specific slider handle width */
  height: var(--height-slider); /* Slider handle height*/
  background: var(--col-slider-thumb); /*Green background */
  cursor: pointer; /* Cursor on hover */
}
.tui__slider::-ms-thumb {
  width: var(--g-height-xxxs); /*Set a specific slider handle width */
  height: var(--height-slider); /* Slider handle height*/
  background: var(--col-slider-thumb); /*Green background */
  cursor: pointer; /* Cursor on hover */
}

/*=====  End of thumb  ======*/

/*=============================================
=            progress range            =
=============================================*/

.tui__slider::-moz-range-progress {
  background-color: var(--col-slider-shadow);
  height: var(--height-slider);
}

.tui__slider::-ms-fill-lower {
  height: var(--height-slider);
  background-color: var(--col-slider-shadow);
}
/*=====  End of progress range  ======*/

/*=============================================
=            track            =
=============================================*/

.tui__slider::-moz-range-track {
  height: var(--height-slider);
  background-color: var(--col-slider);
}
/* IE*/
.tui__slider::-ms-fill-upper {
  height: var(--height-slider);
  background-color: var(--col-slider);
}

.tui__slider::-webkit-slider-runnable-track {
  height: var(--height-slider);
  background: var(--col-slider);
}

/*=====  End of track  ======*/
