.tui__col--font {
  color: var(--body-text-color);
}
.tui__col--bg {
  color: var(--body-bg-color);
}
.tui__col--svg {
  filter: var(--body-svg-color);
}
.tui__bgcol--blue {
  background-color: var(--blue);
}
.tui__bgcol--green {
  background-color: var(--green);
}
.tui__bgcol--yellow {
  background-color: var(--yellow);
}
.tui__bgcol--red {
  background-color: var(--red);
}
.tui__bgcol--blue-light {
  background-color: var(--blue-light);
}
.tui__bgcol--green-light {
  background-color: var(--green-light);
}
.tui__bgcol--yellow-light {
  background-color: var(--yellow-light);
}
.tui__bgcol--red-light {
  background-color: var(--red-light);
}
.tui__col--blue {
  color: var(--blue);
}
.tui__col--green {
  color: var(--green);
}
.tui__col--yellow {
  color: var(--yellow);
}
.tui__col--red {
  color: var(--red);
}
.tui__col--blue-light {
  color: var(--blue-light);
}
.tui__col--green-light {
  color: var(--green-light);
}
.tui__col--yellow-light {
  color: var(--yellow-light);
}
.tui__col--red-light {
  color: var(--red-light);
}
