.tui__col--none {
  color: rgba(0, 0, 0, 0);
}
.tui__col--black {
  color: var(--dark);
}
.tui__col--white {
  color: var(--white);
}
.tui__bgcol--black {
  background-color: var(--dark);
}
.tui__bgcol--white {
  background-color: var(--white);
}
.tui__bgcol--th-dark {
  background-color: var(--theme-dark);
}
.tui__bgcol--th-white {
  background-color: var(--theme-white);
}
.tui__bgcol--th-dark-light {
  background-color: var(--theme-dark-light);
}
.tui__bgcol--th-white-dark {
  background-color: var(--theme-white-dark);
}

.tui__bgcol--none {
  background-color: rgba(0, 0, 0, 0);
}
.tui__col--font {
  color: var(--body-text-color);
}
.tui__col--bg {
  color: var(--body-bg-color);
}
.tui__col--svg {
  filter: var(--body-svg-color);
}
.tui__bgcol--blue {
  background-color: var(--col-blue);
}
.tui__bgcol--green {
  background-color: var(--col-green);
}
.tui__bgcol--yellow {
  background-color: var(--col-yellow);
}
.tui__bgcol--red {
  background-color: var(--col-red);
}
.tui__bgcol--blue-light {
  background-color: var(--col-blue-light);
}
.tui__bgcol--green-light {
  background-color: var(--col-green-light);
}
.tui__bgcol--yellow-light {
  background-color: var(--col-yellow-light);
}
.tui__bgcol--red-light {
  background-color: var(--col-red-light);
}
.tui__col--blue {
  color: var(--col-blue);
}
.tui__col--green {
  color: var(--col-green);
}
.tui__col--yellow {
  color: var(--col-yellow);
}
.tui__col--red {
  color: var(--col-red);
}
.tui__col--blue-light {
  color: var(--col-blue-light);
}
.tui__col--green-light {
  color: var(--col-green-light);
}
.tui__col--yellow-light {
  color: var(--col-yellow-light);
}
.tui__col--red-light {
  color: var(--col-red-light);
}
